.keyboard {
  margin: 5px 2px;
  text-align: center;
  background-color: #eef1ff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px #b1b2ff;
}

.keyboard_wrapper {
  width: 800px;
  height: 370px;
  border: 1px solid #b1b2ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px #b1b2ff;
}

.keyboard_input {
  border: 1px solid #b1b2ff;
  outline: none;
  width: 500px;
  height: 35px;
  margin: 50px;
  padding-left: 10px;
}
.keyboard_input:disabled {
  filter: brightness(0.9);
  cursor: text;
}

.keyboard.active {
  animation-name: blink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#start_typing_button {
  margin-top: 7px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: #d0d0ff;
  border: none;
  color: #293677;
  font-size: 15pt;
  cursor: pointer;
}

#start_typing_button:hover {
  filter: brightness(0.9);
}
@keyframes blink {
  from {
    background-color: #8468fa;
  }
}
