.virtual_keyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
.keyboard_keys {
  margin: 5px 2px;
  text-align: center;
  background-color: #eef1ff;
  border: none;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px #b1b2ff;
  min-width: 30px;
  min-height: 30px;
}

.keyboard_wrapper {
  position: relative;
  width: 90%;
  margin-bottom: 5vh;
  border: 1px solid #b1b2ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px #b1b2ff;
  min-width: 600px;
}
.pause_button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 30px;
  color: white;
}
.keyboard_input {
  border: 1px solid #b1b2ff;
  border-radius: 10px;
  outline: none;
  width: 30vw;
  height: 5vh;
  font-size: 1rem;
  margin-bottom: 2vh;
  padding-left: 0.5vw;
  min-width: 400px;
  min-height: 30px;
}
.keyboard_input:disabled {
  filter: brightness(0.9);
  cursor: text;
}

.keyboard_keys.active {
  animation-name: blink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#start_typing_button {
  margin: 4vh;
  width: 25vw;
  height: 6vh;
  border-radius: 10px;
  font-size: 1.4rem;
  min-width: 200px;
  color: white;
}

@keyframes blink {
  from {
    background-color: #8468fa;
  }
}

.keyboard_keys_container {
  margin-bottom: 3vh;
}
.proposal {
  width: 50vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  font-size: 1.5rem;
  min-width: 500px;
}
.current_sentence {
  color: gray;
}
.correctly_typed {
  color: #293677;
}
.mistyped {
  color: red;
}
