.statistics_table {
  margin-top: 0;
  width: 100%;
  border-collapse: collapse;
}

.statistics_table th,
.statistics_table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.statistics_table th {
  background-color: #eef1ff;
  font-weight: bold;
  color: #333;
}
