.header_title {
  font-size: 20px;
  display: flex;
  padding: 15px 10px;
}

.select_typing_mode {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}

.select_mode_item {
  width: 50%;
  background-color: #b1b2ff;
  border: 2px solid #b1b2ff;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  padding: 5px;
  color: white;
  &.item_active {
    background-color: white;
    color: #b1b2ff;
  }
}

.select_mode_child_wrapper {
  border: 2px solid #b1b2ff;
  border-radius: 10px;
  padding: 7px;
}

.select_language {
  display: flex;
  justify-content: center;
  padding: 5px 0 10px;
  border-bottom: 2px solid #b1b2ff;
}

.select_language_item {
  width: 60px;
  margin: 0 30px;
  padding: 5px;
  background-color: #b1b2ff;
  border: 2px solid #b1b2ff;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  &.item_active {
    background-color: white;
    color: #b1b2ff;
  }
}

.select_item:hover {
  background-color: #b1b2ff;
  color: white;
}

.select_item:active {
  background-color: #8468fa;
  border: 2px solid #8468fa;
}

.category_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  width: 350px;
  height: 220px;
}

.category_item {
  padding: 10px;
  text-align: center;
  background-color: inherit;
  width: inherit;
  text-align: left;
  cursor: pointer;
}

.category_item:focus {
  background-color: rgb(177, 178, 255, 0.2);
}
.category_item:hover {
  background-color: rgb(177, 178, 255, 0.2);
}
.category_item:active {
  color: #293677;
}

.select_sentence {
  font-weight: bold;
}

.modal_start_button {
  width: 80px;
  height: 40px;
  border: 2px solid #b1b2ff;
  background-color: white;
  color: #b1b2ff;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 6px;
  text-align: center;
}

.modal_start_button:hover {
  background-color: #b1b2ff;
  color: white;
  filter: brightness(1);
}

.modal_start_button:active {
  background-color: #8468fa;
  border: 3px solid #8468fa;
  color: white;
}

.acid_rain_title_typo {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.acid_rain_description {
  margin-top: 20px;
}
.acid_rain_description_typo {
  margin-top: 5px;
  font-size: 15px;
}
