.main_page_main {
  border: 2px solid #b1b2ff;
  margin: 0 auto;
  width: 85vw;
  min-width: 830px;
  box-sizing: border-box;
}

.upper_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 8vh;
}

.main_page_logo {
  margin: 14vh 0 5vh;
  width: 32vw;
  min-width: 300px;
}

.start_button {
  margin: 4vh;
  width: 25vw;
  height: 6vh;
  min-width: 300px;
  color: white;
  font-size: 1.3rem;
}

.lower_container {
  margin: 2.5vh;
  padding-left: 2.5vw;
  padding-bottom: 2.5vh;
}

.title {
  padding-top: 10vh;
  font-size: 2vw;
}

.text {
  background-color: white;
  height: 60vh;
  padding: 0;
  width: 75vw;
  overflow-y: scroll;
  padding-right: 1vw;
}

.copyrights {
  text-align: center;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
