*{
  font-family: 'Montserrat', sans-serif;
  color: #293677;
}
.container {
  border: 1px solid #B1B2FF;
  margin: 0 auto;
  width: 1080px;
}
header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1040px;
  height: 50px;
  border-bottom: 0.5px solid #B1B2FF;
  background-color: #EEF1FF;
}
.header_logo{
  width: 80px;
}
.center_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  
}
.start_button {
  margin: 20px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: #B1B2FF;
  border: none;
  color: #293677;
  font-size: 15pt;
}

.start_button:hover{
  filter: brightness(0.9);
  cursor: pointer;
}

.paragraph_container {
  margin: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  
}
.paragraph_title {
  padding-top: 10px;
  font-size: 20pt;
}
.paragraph_text {
  font-size: 15pt;
  background-color: white;
  height: 400px;
  padding: 0;
  width: 1000px;
  border-radius: 10px;
}
h1,
p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.title{
  font-size: 30pt;
  color: purple;
}

.logo{
  margin: 50px;
  width: 400px;
}