* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #293677;
}

.container {
  border: 1px solid #b1b2ff;
  margin: 0 auto;
  width: 85vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  height: 7vh;
  border: 1px solid #b1b2ff;
  background-color: #eef1ff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.header_logo {
  width: 6vw;
  margin-left: 1.5vw;
  cursor: pointer;
}

.main_page_logo {
  margin: 10vh;
  width: 30vw;
}

.center_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.start_button {
  margin: 4vh;
  width: 25vw;
  height: 6vh;
  border-radius: 10px;
  background-color: #b1b2ff;
  border: none;
  color: #293677;
  font-size: 1rem;
}

.start_button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.paragraph_container {
  margin: 2.5vh;
  padding-left: 2.5vw;
  padding-bottom: 2.5vh;
}

.paragraph_title {
  padding-top: 1.5vh;
  font-size: 2rem;
}

.paragraph_text {
  background-color: white;
  height: 60vh;
  padding: 0;
  width: 75vw;
  overflow-y: scroll;
  padding-right: 1vw;
}

.paragraph_items {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.nav {
  margin-top: 0.2vh;
  margin-right: 1.5vw;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  width: 100px;
}

.nav_items {
  width: 50px;
  cursor: pointer;
  margin-right: 5px;
}

.scroll_items {
  padding-top: 10vh;
}
