.header_title {
  font-size: 30px;
  display: flex;
  padding: 10px;
}

.select_language {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.select_language_item {
  padding: 8px;
  background-color: white;
  border: 3px solid #b1b2ff;
  border-radius: 10px;
  color: #b1b2ff;
}

.select_language_item:hover {
  cursor: pointer;
}

.category_wrapper {
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #b1b2ff;
  border-radius: 10px;
}

.category_list {
  width: 350px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.category_list_item {
  padding: 10px;
  text-align: center;
  background-color: inherit;
}

.category_list_item:hover {
  cursor: pointer;
}

.select_sentence {
  font-weight: bold;
}

.modal_close_button {
  width: 80px;
  height: 40px;
  border: 3px solid #b1b2ff;
  border-radius: 10px;
  background-color: white;
  color: #b1b2ff;
  font-size: 20px;
  margin: 20px;
  padding: 6px;
  text-align: center;
}

.modal_close_button:hover {
  cursor: pointer;
}
