.header_title {
  font-size: 30px;
  display: flex;
  padding: 10px;
}

.select_language {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.select_language_item {
  padding: 8px;
  background-color: #b1b2ff;
  border: 2px solid #b1b2ff;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  &.item_active {
    background-color: white;
    color: #b1b2ff;
  }
}

.select_language_item:hover {
  background-color: #b1b2ff;
  color: white;
}

.select_language_item:active {
  background-color: #8468fa;
  border: 2px solid #8468fa;
}

.category_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 5px;
  width: 350px;
  height: 220px;
  border: 2px solid #b1b2ff;
  border-radius: 10px;
  align-items: flex-start;
}

.category_item {
  padding: 10px;
  text-align: center;
  background-color: inherit;
  width: inherit;
  text-align: left;
  cursor: pointer;
}

.select_sentence {
  font-weight: bold;
}

.modal_start_button {
  width: 80px;
  height: 40px;
  border: 2px solid #b1b2ff;
  background-color: white;
  color: #b1b2ff;
  font-size: 20px;
  margin: 20px;
  padding: 6px;
  text-align: center;
}

.modal_start_button:hover {
  background-color: #b1b2ff;
  color: white;
  filter: brightness(1);
}

.modal_start_button:active {
  background-color: #8468fa;
  border: 3px solid #8468fa;
  color: white;
}
