.statistics_wrapper {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  padding-top: 0;
  overflow: auto;
}

.acid_rain_statistics_table {
  width: 100%;
  margin-top: 50px;
  font-size: 10pt;
  border-collapse: collapse;
  border-spacing: 10px;
  max-height: 500px; /* Set a max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.acid_rain_statistics_table th,
.acid_rain_statistics_table td {
  width: 150px;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.acid_rain_statistics_table th {
  background-color: #eef1ff;
  font-weight: bold;
  color: #333;
}

.text_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aba8a8;
}

button.inactive {
  color: #ddd;
  background-color: #aba8a8;
  cursor: not-allowed;
}
button.inactive:hover {
  filter: initial;
}

.acid_rain_statistics_title {
  position: absolute;
  top: 10px;
  font-size: 26px;
  margin-bottom: 25px;
}

.acid_rain_statistics_modal {
  position: fixed;
  border: 3px solid #b1b2ff;
  border-radius: 10px;
  background-color: #eef1ff;
  width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.modal_button_wrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
