.typing_page_main {
  width: 85vw;
  height: 99vh;
  border-top: none;
  margin: 0 auto;
  border: 2px solid #b1b2ff;
  display: flex;
  min-width: 830px;
  min-height: 630px;
  box-sizing: border-box;
  overflow: hidden;
}

.typing_page_logo {
  margin: 12vh 0 5vh;
  width: 25vw;
  min-width: 300px;
}

.left_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-right: 2px solid #b1b2ff;
  text-align: center;
  min-width: 650px;
}

.right_container {
  text-align: center;
  width: 20%;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  min-width: 180px;
}

.statistics_button {
  margin-top: 1%;
  color: white;
  width: 85%;
  height: 4vh;
}
