.header_section {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  height: 7vh;
  border: 2px solid #b1b2ff;
  background-color: #eef1ff;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  min-width: 830px;
  min-height: 40px;
  z-index: 1;
}
.header_logo {
  width: 6vw;
  margin-left: 1.5vw;
  cursor: pointer;
}
.page_logo {
  margin: 10vh 0 5vh;
  width: 25vw;
  min-width: 300px;
}
button {
  border-radius: 10px;
  background-color: #b1b2ff;
  border: none;
  color: #293677;
  font-size: 15px;
  outline: none;
  min-width: 100px;
  min-height: 35px;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

button:active {
  background-color: #8468fa;
  color: white;
}

.modal_button {
  margin: 0 10px;
  color: white;
}

.modal {
  position: fixed;
  border: 3px solid #b1b2ff;
  border-radius: 10px;
  background-color: #eef1ff;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.modal_overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
