.page_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(99, 96, 96, 0.7);
  margin: 0;
  padding: 0;
}

.header_title {
  margin-bottom: 15px;
  font-size: 20px;
}

.avatar_container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
}

.avatar_imageBox {
  width: 100px;
  height: 100px;
  border: 2px solid #293677;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  &.active {
    border: 2px solid #b1b2ff;
  }
}

.avatar_imageBox:hover {
  cursor: pointer;
  border: 2px solid #b1b2ff;
}

.avatar_image {
  width: 100%;
  height: 110%;
}

.name_label {
  color: #293677;
}

.name_input {
  width: 200px;
  height: 30px;
  border: 1.5px solid #293677;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

.submit_button {
  margin: 40px 0 0;
  width: 80px;
  height: 40px;
  font-size: 1rem;
}
