.typingPage_wrapper {
  width: 100vw;
  height: 100vh;
}

.typing_container {
  width: 85vw;
  border-top: none;
  margin: 0 auto;
}

.body-wrapper {
  border: 1px solid #b1b2ff;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  border-right: 1px solid #b1b2ff;

  text-align: center;
}

.typing_page_logo {
  display: inline-block;
  margin-top: 10vh;
  width: 30vw;
  margin-bottom: 5vh;
  width: 400px;
}

.right-container {
  width: 20%;
  height: 100%;
}
